html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #777 !important;
  cursor: pointer;
}

.material-icons .md-24 {
  font-size: 24px;
}

#menu {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 13px;
  text-align: center;
  line-height: 50px;
  white-space: nowrap;
  overflow: scroll;
  box-sizing: border-box;
  margin: 0 auto;
  letter-spacing: 3px;
}

.menu-items {
  padding: 0 10px;
}

#introduction {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

#introduction-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 3vw;
  line-height: 3vw;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.7vw;
}

#name {
  font-weight: 700;
}

#description {
  padding-left: 4vw;
  font-weight: 400;
}

#arrow-downward {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  text-align: center;
}

#arrow-downward:hover {
  color: #777 !important;
  cursor: pointer;
}

#main {
  z-index: 2;
  position: relative;
  top: 100%;
}

.header {
  width: 100%;
  font-size: 25px;
  text-align: center;
  line-height: 100px;
  color: #777;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

#reel {
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px 25% 0 25%;
  width: 100%;
  background-color: #000;
}

#reel-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#work {
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 50px;
  margin: 0 auto;
  overflow: auto;
  background-color: #000;
}

#sub-menu {
  width: 100%;
  font-size: 13px;
  text-align: center;
  line-height: 50px;
  white-space: nowrap;
  overflow: scroll;
  box-sizing: border-box;
  margin: 0 auto;
  letter-spacing: 3px;
}

.sub-menu-items {
  padding: 0 10px;
}

#sub-menu-item-1 {
  color: #777;
}

#work .content {
  width: 100%;
}

.video-thumbnail-container {
  position: relative;
  float: left;
  width: 25%;
  height: 25vh;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.video-thumbnail-container:hover {
  cursor: pointer;
}

.video-thumbnail-container .video-embed-code {
  display: none;
}

.video-thumbnail-text {
  visibility: hidden;
  box-sizing: border-box;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 2px;
  word-spacing: 3px;
  text-align: center;
}

.show-video-thumbnail-text {
  visibility: visible;
}

#about {
  z-index: 2;
  position: relative;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
}

#about .content {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 17px;
  line-height: 25px;
  overflow: scroll;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 0 0;
}

#about-picture,
#about-info {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

#about-picture {
  height: 50vh;
  background-image: url(../img/about/profile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

#about-info {
  padding: 0 50px;
}

#contact {
  position: relative;
  z-index: 2;
  background-color: #000;
  padding-top: 50px;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 2px;
  word-spacing: 3px;
  text-align: center;
  line-height: 50px;
}

#contact .content {
  padding: 50px 0;
}

.contact-items {
  padding: 0 10px;
}

#footer {
  position: relative;
  z-index: 2;
  background-color: #000;
  padding-top: 50px;
  line-height: 50px;
  font-size: 11px;
  letter-spacing: 3px;
  text-align: center;
  color: #777;
}

#project {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  display: none;
}

#project-slide {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#close-project {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  text-align: center;
}

#close-project:hover {
  color: #777 !important;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  #introduction-text {
    font-size: 7vw;
  }

  #name {
    width: 100%;
    display: block;
    text-align: center;
  }

  #description {
    width: 100%;
    display: block;
    padding-left: 0;
    padding-top: 7vw;
    text-align: center;
  }

  #about .content {
    display: block;
  }

  #about-picture,
  #about-info {
    float: none;
  }

  #about-picture {
    width: 100%;
  }

  #about-info {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 0 0;
  }

  #reel {
    padding: 50px 0;
  }

  .video-thumbnail-container {
    width: 100%;
  }

  .video-thumbnail-text {
    visibility: visible;
  }

  .contact-items {
    display: block;
    padding: 0;
    width: 100%;
  }

  #project-slide {
    width: 100%;
  }
}
